* {
    /*COLORS*/
    --pale-blue:hsl(225,100%,94%);
    --bright-blue:hsl(245, 75%, 52%);
    --very-pale-blue:hsl(225,100%,98%);
    --desaturated-blue:hsl(224,23%,55%);
    --dark-blue:hsl(223,47%,23%);
}

body {
   font-family: 'Red Hat Display', sans-serif; 
   color:black;
}

p {
    max-width:30ch;
    margin:0 auto;
}

.container {
    width:450px;
    height:100%;
    margin:10% auto;
    border:1px solid black;
    border-radius:.5rem;
    text-align:center;
}

.hero-img-container {
    width:450px;
    height:220px;
}
.hero-img {
    width:100%;
    border-radius:.5rem;
}

.pricing-panel {
    margin:1rem auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:350px;
    height:100%;
    padding:1rem;
    background-color:var(--very-pale-blue);
}

.pricing-plan {
    display:flex;
    flex-direction:column;
    position:relative;
    right:2rem;
    line-height:1.5;
    margin: 1rem 0;
}

.proceed {
    width:350px;
    height:100%;
    color:white;
    background-color:var(--bright-blue);
    padding:1rem;
    border-radius:.5rem;
    box-shadow: 5px 10px 1rem var(--desaturated-blue);
}
.proceed:hover {
    opacity:.7;
    color:black;
    cursor:pointer;
}

.cancel {
    border:none;
    background-color:white;
    padding:1rem;
    margin:2rem;
}
.cancel:hover {
    cursor:pointer;
    color:red;
}       
